/* app css stylesheet */

body {
  padding-top: 20px;
}

h2.ng-scope {
    margin-left: 10px;
    margin-bottom: 10px;
}

div#search-bar.ng-scope {
    margin-left: 10px;
}

li {
    list-style: none;
    padding: 10px;
}

.procedure-details {
    max-height: 120px;
    transition: .8s;
    overflow: hidden;
}

.procedure-details.hidden {
    max-height: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.about {
    max-height: 30px;
    transition: .6s;
    overflow: hidden;
    margin-left: 10px;
    margin-bottom: 10px;
}

.about.hidden {
    max-height: 0;
}

a {
    cursor: pointer;
}

@media (max-width: 767px) {
    ul {
        max-width: 400px;
    }
}