/* app css stylesheet */

body {
  padding-top: 20px;
}


li {
    list-style: none;
    padding: 10px;
}

.procedure-details {
    max-height: 100px;
    transition: .8s;
    overflow: hidden;
}

.procedure-details.hidden {
    max-height: 0;
}

.procedure-name a:hover {
   cursor: pointer;
}


ul {
    margin: 0;
    padding: 0;
}